@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-400.otf);
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url(../assets/fonts/Avenir-800.otf);
  font-display: swap;
  font-weight: 800;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

@-ms-viewport {
  width: device-width;
}

ul {
  list-style: none;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

body, .cards__subtitle, .cards__price .block-two h4, .cards__price .block-two h5, .cards__list, .cards__button, .cards__notification {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.cards__title, .cards__price .block-one {
  font-family: "Avenir", Arial, Helvetica, sans-serif;
  font-weight: 800;
}

body {
  background: #fff;
}

.cards {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 120px;
  padding: 20px;
  background: #d2f1ff;
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
}

@media (min-width: 768px) {
  .cards {
    max-width: 90%;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    background: #feffd2;
  }
}

@media (min-width: 1024px) {
  .cards {
    max-width: 1000px;
    background: #ffd2d2;
  }
}

@media (min-width: 1200px) {
  .cards {
    background: #d6ffd2;
    max-width: 1180px;
  }
}

.cards__single-card {
  background: #fff;
  border: 3px solid #f4f4f4;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
}

.cards__title {
  text-align: center;
  color: #121212;
  margin-bottom: 5px;
}

.cards__subtitle {
  text-align: center;
  color: #c1c1c1;
  margin-bottom: 20px;
}

.cards__price {
  background: #fff7eb;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 8px;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cards__price {
    width: 90%;
  }
}

.cards__price .block-one {
  display: inline-block;
  width: 20%;
  font-size: 2em;
  position: relative;
  top: 15px;
}

.cards__price .block-one sup {
  font-size: 0.5em;
  position: relative;
  top: -5px;
}

.cards__price .block-two {
  display: inline-block;
  text-align: left;
  width: 72%;
}

@media (min-width: 576px) and (max-width: 767.9px) {
  .cards__price .block-two {
    width: auto;
  }
}

.cards__price .block-two h4 {
  line-height: 0.9;
  margin-bottom: 5px;
}

.cards__price .block-two h5 {
  font-size: 0.7em;
}

.cards__list {
  color: #adadad;
  text-align: left;
  display: inline-block;
  margin-bottom: 40px;
}

.cards__list-item {
  margin-bottom: 10px;
}

.cards__list-item span {
  font-weight: bolder;
  margin-right: 8px;
  display: inline-block;
}

.cards__button {
  max-width: 80%;
  color: #000;
  background: transparent;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 12px 32px;
  border-radius: 6px;
  border: 2px solid #000000;
  display: block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards__notification {
  color: #adadad;
}
/*# sourceMappingURL=style.css.map */