@import "variables";

body {
  background: $color-body;
  @extend %avenir-400;
}

.cards {
  max-width: 90%;
  margin: 0 auto;
  margin-top: 120px;
  padding: 10px;
  //   height: 500px;
  //   background: rgb(210, 241, 255);
  //////////////////////////
  display: grid;
  gap: 20px;
  //////////////////////////
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, auto);
  //////////////////////////
  @media ($sm) and (max-width: 767.9px) {
    max-width: 70%;
  }
  //////////////////////////
  @media ($md) {
    max-width: 100%;
    grid-template-columns: repeat(3, 1fr);
    // background: rgb(254, 255, 210);
  }
  @media ($lg) {
    max-width: 1000px;
    // background: rgb(255, 210, 210);
  }
  @media ($xl) {
    // background: rgb(214, 255, 210);
    max-width: 1180px;
  }
  ///////////////////////////
  &__single-card:nth-of-type(1) .cards__price {
    background: $color-single;
  }
  &__single-card:nth-of-type(2) .cards__price {
    background: $color-team;
  }
  &__single-card:nth-of-type(3) .cards__price {
    background: $color-business;
  }
  &__single-card:nth-of-type(2) {
    position: relative;
  }
  ///////////////////////////
  &__single-card {
    // height: 100%;
    background: $color-body;
    border: 2px solid $color-border;
    // border-radius: 16px;
    padding: 16px;
    text-align: center;
    transition: all 0.3s ease;
    position: relative;
  }

  ///////////////////////////
  &__single-card:hover {
    // border: 2px solid #000000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: scale(1.03) translateY(-15px);
    cursor: pointer;
    border: none;
  }
  ////////////////////////////
  &__single-card .line {
    background: #000000;
    position: absolute;
    display: block;
  }
  ////////////////////////////////////////
  &__single-card .line:nth-of-type(1) {
    left: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s;
  }
  &__single-card:hover .line:nth-of-type(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.2s;
  }
  ////////////////////////////////////////
  ////////////////////////////////////////
  &__single-card .line:nth-of-type(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.2s;
    transition-delay: 0.2s;
  }
  &__single-card:hover .line:nth-of-type(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
    transition-delay: 0.2s;
  }
  ////////////////////////////////////////
  ////////////////////////////////////////
  &__single-card .line:nth-of-type(3) {
    right: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.2s;
    transition-delay: 0.4s;
  }
  &__single-card:hover .line:nth-of-type(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.2s;
    transition-delay: 0.4s;
  }
  ////////////////////////////////////////
  ////////////////////////////////////////
  &__single-card .line:nth-of-type(4) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s;
    transition-delay: 0.6s;
  }
  &__single-card:hover .line:nth-of-type(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.2s;
    transition-delay: 0.6s;
  }
  ////////////////////////////////////////

  ///////////////////////////
  &__title {
    text-align: center;
    @extend %avenir-800;
    color: $color-text-primary;
    margin-bottom: 5px;
  }
  ///////////////////////////
  &__subtitle {
    text-align: center;
    @extend %avenir-400;
    color: $color-text-secondary;
    margin-bottom: 20px;
  }
  ///////////////////////////

  &__price {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 8px;
    padding-bottom: 20px;
    text-align: center;
    ///////////////////////////
    @media (min-width: 320px) and (max-width: 575.9px) {
      width: 90%;
    }
    ///////////////////////////
    @media ($md) and (max-width: 1023px) {
      width: 100%;
    }
    ///////////////////////////
    .block-one {
      display: inline-block;
      width: 20%;
      //   background: rgb(235, 160, 160);
      @extend %avenir-800;
      font-size: 1.8em;
      position: relative;
      top: 15px;
      @media (min-width: 320px) and (max-width: 575.9px) {
        width: auto;
        font-size: 1.5em;
      }
      @media ($md) and (max-width: 1023px) {
        font-size: 1.5em;
      }
      sup {
        font-size: 0.4em;
        position: relative;
        top: -5px;
      }
    }
    .block-two {
      display: inline-block;
      text-align: left;
      width: 72%;
      //   background: rgb(160, 230, 235);
      @media (min-width: 320px) and (max-width: 575.9px) {
        width: auto;
      }
      @media ($sm) and (max-width: 767.9px) {
        width: auto;
      }
      h4 {
        @extend %avenir-400;
        line-height: 0.9;
        margin-bottom: 5px;
        font-size: 0.85em;
        @media (min-width: 320px) and (max-width: 575.9px) {
          font-size: 0.65em;
        }
      }
      h5 {
        @extend %avenir-400;
        font-size: 0.7em;
      }
    }
  }
  ///////////////////////////
  &__list {
    color: $color-list;
    text-align: left;
    display: inline-block;
    @extend %avenir-400;
    margin-bottom: 40px;
    // background: rgb(252, 192, 192);
  }
  ///////////////////////
  ///////////////////////
  &__list-item {
    margin-bottom: 10px;
    span {
      font-weight: bolder;
      margin-right: 8px;
      display: inline-block;
    }
  }
  ///////////////////////
  &__button {
    max-width: 80%;
    color: #000;
    @extend %avenir-400;
    // background: transparent;
    background: #ffffff;
    font-size: 1em;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 12px 32px;
    border-radius: 6px;
    border: 2px solid #000000;
    display: block;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
  }

  &__button:hover {
    background: #000000;
  }

  &__button:before {
    content: "Get Started";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -350px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    height: 350px;
    background: #000000;
    border-radius: 70%;
    transition: 0.6s ease-out;
    font-weight: bolder;
    color: #ffffff;
  }

  &__button:hover:before {
    bottom: -155px;
    @media (min-width: 768px) and (max-width: 996px) {
      bottom: -145px;
    }
    @media (min-width: 280px) and (max-width: 369px) {
      bottom: -145px;
    }
  }

  ///////////////////////
  &__notification {
    @extend %avenir-400;
    color: $color-list;
  }
  ///////////////////////
  &__arrow {
    width: 48px;
    position: absolute;
    top: -20px;
    left: 50%;
    // background: rgb(253, 170, 170);
    @media ($md) {
      top: -20px;
      left: 75%;
    }
    @media (max-width: 767.9px) {
      left: 88%;
    }
    ///////////////////////////////
  }

  &__label {
    @extend %badscript;
    // background: rgb(255, 179, 179);
    text-align: center;
    display: inline;
    position: absolute;
    width: 50px;
    top: -55px;
    left: 80%;
    @media ($md) {
      top: -55px;
      left: 80%;
    }
    @media (max-width: 767.9px) {
      left: 91%;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
        1px 1px 1px rgba(0, 0, 0, 0.5);
    }
  }
}
/////////////////////////////////////////////////
